*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul,
li{
    list-style-type: none;
}

button{
    border: none;
    background: transparent;
    cursor: pointer;
}

.close-menu,
.open-menu,
.overlay,
.mobile{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
}

.navlinks{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display: flex;
    margin-left: -6rem;
}

.nav-left li{
    margin-right: 2rem;
    font-size: 1rem;
}

.nav-left li .dropdown-link-layout span:nth-child(1),
.lst span{
    color: #696969;
    cursor: pointer;
}

.nav-left li .dropdown-link-layout span:nth-child(1):hover,
.lst span:hover{
    color: #000;
}

.dropdown-link-layout span:nth-child(2){
    margin-left: 1rem;
    cursor: pointer;
}

.dropdown-list li,
.dropdown-list span{
    width: fit-content;
    margin-left: 0.4rem;
    padding: 0.3rem 0;
    color: #696969;
    cursor: pointer;
}

.dropdown-list li:hover,
.dropdown-list span:hover{
    color: #000;
}

.dropdown-list{
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 30px hsl(0deg 0% 8% / 15%);
    border-radius: 0.5rem;
    padding: 1rem 0;
    text-transform: capitalize;
    font-size: 0.85rem;
    z-index: -1;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.18s ease-in-out, transform 0.2s ease-in-out;
}

.dropdown-open{
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition: opacity 0.15s ease 0.15s, transform 0.18s ease 0.15s;
}

.dropdown-list-features{
    top: 7%;
    left: 12%;
}

.dropdown-list-company{
    top: 7%;
}

.rotate{
    transform: rotate(180deg);
    transition: all 0.5s;
}

.nav-right{
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.login button{
    font-size: 1.2rem;
    color: #000;
}

.reg{
    background: #FAFAFA;
    color: #000;
    border: 2px solid #000;
    border-radius: 0.8rem;
    padding: 0.5rem 1.3rem;
    font-weight: bold;
}

.showcase{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 20px 0;
}

.left-box{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.info h1{
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.info p{
    width: 390px;
    color: #69697C;
    padding: 2rem 0;
}

.btn{
    background: #000;
    color: #fff;
    border-radius: 8px;
    border: 2px solid transparent;
    width: fit-content;
    padding: 0.8rem 1.3rem;
    animation: fade 0.1s ease-in-out forwards;
}

.btn:hover{
    background: #fff;
    color: #000;
    border: 2px solid #000;
}

.images{
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: flex-end;
}

.right-box{
    width: 400px;
}

.right-box img{
    width: 100%;
}

@media(max-width:50em){
    .close-menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .open-menu{
        display: block;
        position: absolute;
        right: 5px;
        top: 20px;
    }

    .logo{
        position: absolute;
        left: 20px;
        top: 20px;
        cursor: pointer;
    }

    .navlinks{
        display: none;
        flex-direction: column;
        justify-content: left;
        padding: 0 1rem;
        background: #fff;
        position: fixed;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 5;
        max-width: 300px;
        width: 70vw;
        animation: fade 1s ease-in-out forwards;
    }

    .nav-open{
        display: flex;
    }

    .nav-left{
        flex-direction: column;
        align-items: flex-start;
        gap: 1.4rem;
        padding-top: 5rem;
        padding-left: 1rem;
    }

    .dropdown-list{
        display: none;
        position: static;
        box-shadow: none;
        margin-left: 1.2rem;
    }

    .dropdown-open{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .nav-left li .dropdown-link-layout span:nth-child(1),
    .lst span{
        font-size: 1.3rem;
    }

    .nav-right{
        flex-direction: column;
        gap: 1rem;
        margin-top: 30px;
    }

    .reg button{
        width: 30vw;
    }

    .overlay{
        background: rgba(0,0,0,.6);
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        z-index: 1;
        animation: fade 1s ease-in-out forwards;
    }

    .add{
        display: block;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .showcase{
        display: flex;
        flex-direction: column-reverse;
    }

    .left-box{
        width: 100%;
    }

    .info h1{
        width: 100%;
        font-size: 2.8rem;
        text-align: center;
    }

    .info p{
        width: 95%;
        text-align: center;
    }

    .learn-more{
        text-align: center;
    }

    .right-box{
        width: 100%;
    }

    .images{
        margin-top: 22px;
        gap: 1rem;
        padding: 1rem 2rem;
    }
}